<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">

        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="header">
                <a href="/">
                    <h1 class="header_h1">Pokédex</h1>
                </a>
                <nav>
                    <a class="nav_liste" href="/favoris">Favoris</a>
                    <a href="/types">Types</a>
                </nav>
            </div>
        </header>

        <main>
            <section class="main_section">
                <% for(pokemon of allPokemon) {%> 
                <a href="/detail/<%=pokemon.nom%>">
                    <div class="pokemonHome">
                        <img class="imageHome" src="/img/<%=pokemon.numero%>.png" alt="<%= pokemon.nom %>">
                        <h2 class="h2Home">#<%= pokemon.numero %> <%=pokemon.nom%></h2>
                    </div>
                </a>
                <% } %> 
            </section>
        </main>

    </body>
</html>